.grid-item {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f88c8c;
  transition: transform 0.5s, opacity 0.5s, box-shadow 0.5s;
}

.grid-item:hover {
  transform: scale(2);
  opacity: 0.5;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 100px);
  gap: 8px;
}